<div class="spell-list-manager-container {{#if isLoading}}loading-state{{else}}idle{{/if}}" role="application">
	{{#if isLoading}}
		{{> "modules/spell-book/templates/components/loading-spinner.hbs" size=3 message=(localize "SPELLMANAGER.Application.Loading")}}
	{{/if}}
</div>
