<div class="gm-spell-list-manager-container" role="application">
	{{#if hasError}}
		{{> "modules/spell-book/templates/components/error-message.hbs" message=errorMessage}}
	{{else}}
		<!-- The PARTS system will render spellLists, listContent, availableSpells, footer here -->
	{{/if}}
</div>
