<div class="spell-book chat-release">
  <div class="release-header">
    <i class="fa-solid fa-book-sparkles"></i>
    <strong>{{localize "SPELLBOOK.Release.Title" version=version}}</strong>
  </div>

  <div class="release-body">
    <p class="release-patreon">
      <strong><a href="https://www.patreon.com/3deathsaves" target="_blank" rel="noopener"><i
            class="fa-brands fa-patreon"></i> Now on Patreon!</a></strong>
    </p>

    <h4>{{localize "SPELLBOOK.Release.BugFixes"}}</h4>
    <ul>
      <li>Fixed the cantrip and spell preparation bonus in Class Rules not taking effect until the Spell Book was
        reopened. The increased count now applies immediately after saving.</li>
    </ul>
  </div>

  <a class="open-note" href="{{repoUrl}}" target="_blank" rel="noopener">
    <i class="fa-solid fa-arrow-up-right-from-square"></i> {{localize "SPELLBOOK.Release.ReleaseNotes"}}
  </a>
</div>
