<div class="long-rest-swap-dialog">
  <!-- Long Rest Swap Introduction -->
  <p>{{localize 'SPELLBOOK.LongRest.SwapPromptIntro'}}</p>

  <!-- Cantrip Swapping Classes -->
  {{#if longRestClasses.cantripSwapping.length}}
    <div class="swap-category">
      <h4>{{localize 'SPELLBOOK.LongRest.CantripSwapping'}}</h4>
      <ul>
        {{#each longRestClasses.cantripSwapping}}
          <li>{{localize 'SPELLBOOK.LongRest.CantripSwappingClass' className=this.name}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <!-- Spell Swapping Classes -->
  {{#if longRestClasses.spellSwapping.length}}
    <div class="swap-category">
      <ul>
        {{#each longRestClasses.spellSwapping}}
          <li>{{localize 'SPELLBOOK.LongRest.SpellSwappingClass' className=this.name}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
