<div class="manager-footer">
	<button type="button" class="help-button" data-action="showDocumentation">
		<i class="fas fa-question-circle"></i> Help
	</button>
	<button type="button" class="close-button" data-action="closeSpellManager">
		<i class="fas fa-times"></i> Close
	</button>
</div>
